.services-section {
  text-align: center;
  padding: 80px 40px;

  background-attachment: fixed;
  height: auto;
  padding-bottom: 100px;
  .title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
  }

  .subtitle {
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 50px;
    color: #fff;
  }

  .service-card {
    padding: 30px 20px;
    border-radius: 6px;
    text-align: center;
    transition: transform 0.3s ease;
    color: #fff;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &:hover {
      transform: translateY(-8px);
    }

    .icon {
      font-size: 40px;
      margin-bottom: 15px;
      color: #00ffaa;
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      margin-bottom: 25px;
    }

    .btn {
      border: none;
      background: #000;
      color: #fff;
      font-weight: 600;
      padding: 8px 20px;
      border-radius: 4px;

      &:hover {
        background: #ff6f3c !important;
        color: #fff !important;
      }
    }

    &.brown {
      background: #a3310f;
    }

    &.dark {
      background: #a3310f;
    }
  }
}
