html {
  background: var(--bg-main, #f7f4ef);
}

body {
  margin: 0;
  font-family: "Viaoda Libre", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-main, #f7f4ef);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
